.node {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.wall {
  animation: build-wall 0.5s ease-in-out;
  background-color: darkblue;
}

@keyframes build-wall {
  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
